* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    margin: 0 auto;
}

input {
    padding: 16px 8px;
    border: none;
    background-color: #e0e0e0;
    margin: 10px 0;
}

label {
    font-size: 16px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}
